<a href="https://colab.research.google.com/github/primojr/estudos_python/blob/master/rede_neural.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Objetivo:

Treinar o modelo usando `MLPClassifier` e comprar o resultado do `randon_forest`

## Importar bibliotecas

In [186]:
from sklearn import datasets 
from sklearn.neural_network import  MLPClassifier 

# # Bibliotecas Auxiliares
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(13)

df = pd.read_csv("df.csv", delimiter=";")

# # TensorFlow e tf.keras
# import tensorflow as tf
# from tensorflow import keras


# print(tf.__version__)

In [234]:
df = pd.read_csv("df.csv", delimiter=";")
df.head(2)

,id,system,sexo_f,class_cep,t.idade_ate30,t.br,t.inpp,t.offus,t.b2w,t.lasa,t.ampl_rec,t.ampl_app,t.frente_offus_inapp,t.band_outras,classe1
0,e281e652-c369-4a8b-9a36-6e085cfcfca5,android,1,B.Neutro,0,0,0,0,0,1,-5.225747,-1.120118,0,0,SemCartaoApp
1,f987742c-4e4f-418b-a95d-2fedba305f4f,android,0,B.Neutro,0,0,0,1,0,0,-6.654153,2.538974,0,0,ComCartaoApp

In [235]:
# Sys
df['system'] = df['system'].replace('android','1')
df['system'] = df['system'].replace('ios','0')
df['system'] = df['system'].astype(float)

# # Classe cep
df['class_cep'].value_counts()
df['class_cep'] = df['class_cep'].replace('A.Ruim','0')
df['class_cep'] = df['class_cep'].replace('B.Neutro','1')
df['class_cep'] = df['class_cep'].replace('C.Medio','2')
df['class_cep'] = df['class_cep'].replace('D.Bom','3')
df['class_cep'] = df['class_cep'].replace('E.MuitoBom','4')
df['class_cep'] = df['class_cep'].astype(float)

#I Tipos dos dados
df.dtypes

In [188]:

#df.head()

id                       object
system                  float64
sexo_f                    int64
class_cep               float64
t.idade_ate30             int64
t.br                      int64
t.inpp                    int64
t.offus                   int64
t.b2w                     int64
t.lasa                    int64
t.ampl_rec              float64
t.ampl_app              float64
t.frente_offus_inapp      int64
t.band_outras             int64
classe1                  object
dtype: object

# Separar amostra e treino

In [236]:
df = df.dropna()
df = df.reset_index()
df

,index,id,system,sexo_f,class_cep,t.idade_ate30,t.br,t.inpp,t.offus,t.b2w,t.lasa,t.ampl_rec,t.ampl_app,t.frente_offus_inapp,t.band_outras,classe1
0,0,e281e652-c369-4a8b-9a36-6e085cfcfca5,1.0,1,1.0,0,0,0,0,0,1,-5.225747,-1.120118,0,0,SemCartaoApp
1,1,f987742c-4e4f-418b-a95d-2fedba305f4f,1.0,0,1.0,0,0,0,1,0,0,-6.654153,2.538974,0,0,ComCartaoApp
2,2,3d500d88-f6b6-4f35-b70a-d49446e0386a,1.0,1,3.0,0,0,1,0,1,1,2.324564,2.663314,0,1,SemCartaoApp
3,3,4474c16d-0146-4b10-a079-5ad3e0771ff9,1.0,0,3.0,0,1,0,0,0,0,-1.254367,2.873319,0,0,SemCartaoApp
4,5,b635956a-de6b-4ace-bfd2-2ba931d436df,1.0,1,1.0,0,0,0,1,0,1,-1.057369,2.555287,0,1,SemCartaoApp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4048,4995,61fd8686-c6cc-4614-b7d7-d78652c705ef,1.0,1,0.0,0,0,1,1,1,1,0.387565,0.387565,0,0,SemCartaoApp
4049,4996,44a7d13e-4a43-4c06-9a41-deb925519288,0.0,0,0.0,1,0,1,0,1,1,3.706898,3.860730,0,1,SemCartaoApp
4050,4997,beca74b3-8393-4463-a575-224e8de5358d,1.0,0,0.0,0,0,0,0,1,0,-5.874931,1.579486,0,0,SemCartaoApp
4051,4998,c5d5d51c-edcc-46be-8dd3-e8904178ed97,1.0,0,0.0,0,1,0,0,0,0,1.943951,3.459466,0,0,SemCartaoApp
4052,4999,a1004af3-c017-4740-bb26-8b445ddbdf65,1.0,0,0.0,1,0,0,0,1,0,-6.802395,-6.802395,0,0,SemCartaoApp

In [238]:
#df = df.loc[:,df.columns[1:]]
X = df.loc[:, df.columns[2:14]]
y = df.loc[:,['classe1']]

n_aleatorio = np.arange(df.shape[0])
np.random.shuffle(n_aleatorio)

X_train = X.loc[n_aleatorio[:3000],:]
X_train
X_test  = X.loc[n_aleatorio[3000:],:]

y_train = y.loc[n_aleatorio[:3000],:]
y_test  = y.loc[n_aleatorio[3000:],:]

In [320]:
from pandas.core.common import random_state
clf = MLPClassifier(solver = 'sgd',
                    hidden_layer_sizes=(8,) ,
                    learning_rate_init=0.00001, 
                    activation='logistic',
                    max_iter = 1500,
                    random_state = 1
                    )

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_test)
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0.37402085, 0.62597915],
       [0.30893435, 0.69106565],
       [0.35685394, 0.64314606],
       ...,
       [0.36013557, 0.63986443],
       [0.34639518, 0.65360482],
       [0.30743343, 0.69256657]])

In [321]:
y_aux = np.argmax(y_pred, 0)

y_linha = pd.DataFrame(y_pred)

y_linha.loc[y_linha[1] >= .5, 'Class'] = 'ComCartaoApp'
y_linha.loc[y_linha[1] <  .5, 'Class'] = 'SemCartaoApp' 
  
# y_linha['Class'].value_counts()
#print(type(y_pred), type(y_test))

In [322]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_linha['Class'])

0.4710351377018044